@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit; 
}

.Header{
    background-color: #7a6108;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.fastlogo{
    display: flex;
    padding-top: 10px;
    gap: 20px;
    align-items: center;
    font-size: 24px;
    color: #ffe380;
    font-weight: bold;
    width: 700px;
}

.festlinks{
    display: flex;
    gap: 30px;
    align-items: center;
    padding-top: 10px;
    color: #F9FAF8;
    font-weight: light;
}

.headersigninbutton{
    background-color: #f1bf0b;
    padding: 10px;
    border: 0;
    font-size: 15px;
    border-radius: 5px;
}

.Content{
    display: flex;
    flex-direction: column;
}

.firstcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    background-color: #7a6108;
}

.imgcontainer img{
    width: 300px;
    height: 500px;
    object-fit: cover;
}

.infocontainer{
    display: flex;
    flex-direction: column;
    width: 700px;
}